.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mainContentRegister {
    /* margin-top: 200px; */
    width: 600px;
    height: 97%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1.5em rgba(#000, .03);
}

.inputType {
    /* margin-left: 10px; */
    height: 35px;
    width: 400px;
    font-size: 18px;
    border-radius: 20px;
    /* color: #FFF; */
    border-width: 1px;
    /* border-color: rgb(214, 212, 212); */
    background-color: white;
    padding: 12px
}

.submitBtn {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    background-color: #ff7733;
    font-size: 15px;
    border-radius: 30px;
    border-width: 0px;
    margin-bottom: 20px;
}